Graduation Requirements
This section details the requirements for graduation at Makerere University. Please take note that these requirements are subject to change.

Clearance with various Units.
Graduands are required to have successfully cleared with the following units/offices in no particular order; University Librarian and University Bursar.

Download the Clearance form

Invitation Cards
Each graduand will be availed an invitation card admitting two (2) of their parents/guardians/sponsors to the Freedom Square for the graduation ceremony.

Graduands from the College of Health Sciences and College of Veterinary Medicine, Animal Resources and Bio-Security are required to swear an oath.

Graduation Gowns
The graduation gown fees should be paid directly to the Makerere University Endowment Fund, DFCU Bank Account No: 01083553520471

All PhD graduands are required to pay a Graduation gown fee of Ug.Shs 600,000/= in addition to other fees.

The payment for the graduation gown is part and parcel of the requirements to be cleared to participate in the graduation.

Graduation Fees
The graduation fees for the 76th Graduation Ceremony are as indicated below:-

 	Ugandans/East Africa	International Students
Convocation fees	UGX 10,000/=	US $ 10
Graduation fees	UGX 40,000/=	US $ 60
Certificate fees	UGX 30,000/=	US $30
Transcript	UGX 30,000/=	US $30
Graduation gown	UGX 90,000/=	US $30
Total	UGX 200,000/=	US $ 160
From this breakdown, graduation fees must be paid as a package totaling UGX. 200,000/ = for Ugandans/ East Africa and US $160 for International students respectively.

Ph.D Graduands
In addition to the above fees all Ph.D graduands should pay a Cylinder fee of Ug.Shs 50,000/=.

Prohibited Items at the ceremony
Cellular (mobile) Phones 
Alcohol
Dangerous weapons 
Canned food and drinks
Cameras (video and Still cameras)
Pocket radio
Firearms
Large bags
Cells/batteries and chemicals
Bottled drinks